.Column {
  border: black solid 2px;
  padding: 1%;
  width: 20%;
  text-align: center;
}
.TaskInput {
  margin: 2%;
}
input {
  font-size: 1em;
  padding: 2%;
  margin: 2%;
  border: 2px rgb(181, 30, 241) solid;
  width: 80%;
  border-radius: 20px;
}
input:focus {
  border-color: green;
}
.AddButton {
  background-color: rgb(182, 54, 54);
  font-size: 1em;
  border: none;
  padding: 2%;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  width: 30%;
  cursor: pointer;
}
.AddButton:hover {
  background-color: rgb(41, 52, 200);
}
