.App {
  align-items: center;
  font-size: 1em;
}
.Head {
  text-align: center;
  background-color: rgb(228, 58, 58);
  color: white;
  padding: 0.5%;
  margin-bottom: 2%;
  font-size: 2em;
}
.Board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
